.customer {
  &-box {
    h2 {
      margin: 20px 0 10px 0;
      font-size: 18px;
      font-weight: normal;
      font-family: Roboto-medium;
      border-bottom: 1px solid #e3e3e3;
      padding-bottom: 12px;
      .box-text {
        color: #000;
        font-weight: bold;
        text-decoration: none;
        span {
          color: #000 !important;
          padding-bottom: 8px;
          border-bottom: 2px solid #d30606 !important;
        }
      }
    }
  }
  &-list {
    display: block;
    position: relative;
  }

  .owl-carousel {
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
  }

  &-info {
    position: relative;
    overflow: hidden;
    // -webkit-transform: translate3d(0, 0, 0);
  }

  &-info:hover .customer-slider {
    opacity: 1;
  }

  &-group {
    position: relative;
  }

  &-items {
    position: relative;
    min-height: 1px;
    float: left;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }

  &-list-items {
    float: left;
    width: 210px;
    background: #fff;
    position: relative;
    padding: 0;
    margin-right: 5px;
    border: 1px solid #eee;
    border-radius: 4px;

    a {
      display: block;
      overflow: hidden;
      padding: 0 0 10px 0;
      color: #333;
      text-decoration: none;
    }

    img {
      width: 100%;
      height: auto;
      overflow: hidden;
      min-height: 110px;
      border-radius: 0;
      display: block;
    }

    h3 {
      font-size: 14px;
      font-family: Roboto-Medium;
      color: #333;
      text-align: left;
      margin: 10px 5px;
      line-height: 18px;
      height: 36px;
      overflow: hidden;
      font-weight: normal;
    }

    p {
      text-align: left;
      font-size: 13px;
      color: #555;
      line-height: 18px;
      text-overflow: ellipsis;
      padding: 0 8px;
      margin-bottom: 8px;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 0;
    }
  }

  &-slider {
    position: relative;
    display: contents;
    width: 100%;

    .arrow-left {
      position: absolute;
      z-index: 9;
      top: 35%;
      left: 0;
      width: 40px;
      height: 40px;
      background-color: $primary-color;
    }

    .arrow-right {
      position: absolute;
      z-index: 9;
      top: 35%;
      right: 0;
      height: 40px;
      width: 40px;
      background-color: $primary-color;
    }

    .pasgo-arrow-left {
      background-position: -136px -29px;
      width: 17px;
      height: 32px;
      // transform: translateX(-50%);
      // transform: translateY(-50%)
    }

    .pasgo-arrow-right {
      background-position: -151px -31px;
      width: 20px;
      height: 26px;

      // transform: translateY(-50%);
      // transform: translateX(-50%)
    }
  }
}

.customer-list-items {
  transition: all 0.3s ease;
}
