.header {
  transition: all 0.3s;
  position: fixed;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  z-index: 20;

  &-container {
    background-color: $primary-color;
    display: flex;
    line-height: 40px;
  }

  &-info {
    padding: 10px 0px 0 10px;
    #openbtn {
      float: left;
      width: 42px;
      height: 44px;
      margin: 10px 0 0 10px;
      padding-left: 10px;
      border-right: 1px solid #e6e6e6;
      background-color: transparent;
      border-color: transparent;
    }

    .pasgo-icon-btn {
      background-position: -191px -205px;
      width: 26px;
      height: 24px;
      margin-top: 10px;
    }

    a {
      text-align: center;
      height: 44px;
    }

    .pasgo-icon-logo {
      background-image: url(/images/nav-menu/logo-pasgo.png);
      width: 80px;
      height: 24px;
      background-size: 70px;
      margin: 5px 0px 0px 20px;
    }
  }

  &-province {
    padding: 5px 15px 0px 0px;

    #locate {
      border: 1px solid $red-color;
      background-color: $red-color;
      background-image: url(/images/nav-menu/dropdown.png);
      background-repeat: no-repeat;
      background-position: top 50% right 2px;
      appearance: none;
      border: none;
      outline: 0;
      box-shadow: none;
      height: 44px;
      border-radius: 0;
      color: $white-color;
    }
  }

  &-search {
    padding: 10px 0 0 10px;
    text-align: center;

    .pasgo-icon-search {
      background-position: -204px -100px;
      width: 25px;
      height: 29px;
    }
  }

  &-user {
    text-align: center;
    padding: 10px 0 0 10px;

    .pasgo-icon-user {
      background-image: url(/images/nav-menu/user.png);
      width: 30px;
      height: 30px;
      background-size: 30px;
      border-radius: 50%;
    }
  }
}
